body
{
    background-image: linear-gradient(to bottom right, hwb(65 80% 5%), rgb(19, 175, 210));
    font-family: 'Lato', sans-serif;
	font-size: 100%;
	padding: 0 20px;
	box-sizing: border-box;
      }
      
      h1.a {
        font-family: "Times New Roman", Times, serif;
        font-weight: 3000;
        font-size: xx-large;
}


.content {
	background-color: rgb(251, 255, 223);
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 50px auto;
	margin-top: 100px;
	padding: 20px;
	width: 1300px;
}

.text-block {
  position: static;
  bottom: 100px;
  right: 100px;
  display: block;
  background-color: black;
  width: 400px;
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  border: 10px solid #555;
  border-radius: 50%;
}

/* Appearance */
.links {
 
	background-color: rgb(28, 74, 120);
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.336);
	font-size: 1.5em;
	font-weight: 300;
}
.links > a {
	color: rgb(242, 254, 197);
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: rgb(28, 74, 120);
	color: rgb(147, 14, 112);
}
.links > .line {
	background: rgba(123, 133, 142, 0.662);
	height: 1px;
	pointer-events: none;
}

a.mail:link {
  color: #0800ff;
}

/* visited link */
a.mail:visited {
  color: #9500ff;
}

